<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <CTester>
    <JavaHome>C:\Program Files\Java\jdk1.8.0_201\jre</JavaHome>
    <Reader/>
    <TestsPath>F:\Coding\GitHub\CTester\Tests Template\src\runnables</TestsPath>
  </CTester>
  
  <!-- Virginize configuration -->
  <Virginize>
    <Modes>
      <Mode name="Erase and configure">
        <Key/>
        <Parameters>
          <Parameter name="Java parameters" mac="true"/>
          <Parameter name="RF parameters" mac="true"/>
          <Parameter name="MiFare type" mac="false"/>
        </Parameters>
      </Mode>

      <Mode name="Update only">
        <Key/>
        <Parameters>
          <Parameter name="RF parameters" mac="true"/>
          <Parameter name="MiFare type" mac="false"/>
        </Parameters>
      </Mode>
    </Modes>
  </Virginize>
</Configuration>