*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CTester/nbproject/private/
/CTester/build/
/CTesterFX/nbproject/private/
/CTesterFX/dist/
/CTesterFX/build/
/CTesterFX/target/
/Testing/nbproject/private/